@charset "UTF-8";

/* tablet 768px até 992px */

@media screen and (min-width:768px) and (max-width: 1120px) {
    
    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    body {
        background:black linear-gradient(80deg, blue, purple) fixed center center;
        background-size: cover;
    }
    
    main {
        background-color: white;
        
        transition-duration: 0.7s;

        width: 500px;
        max-width: 600px;
        min-width: 400px;
    
        margin: auto;
        margin-top: 7vh;
        padding: 30px;

        border-radius: 30px;
    }
    
    section > div h1 {
        text-align: center;
        font-size: 50px;
    }
    
    section > div p {
        font-size: 30px;
        
    }
    
    form {
        text-align: center;
        transition-duration: 0s;
    }
    
    #iemail {
        height: 60px;
        width: 450px;
        
        border-radius: 15px;
        margin-bottom: 10px;
        padding-left: 10px;
    
        font-size: 30px;
    }
    
    #iemail::placeholder {
        font-size: 30px;
    }
    
    #isenha {
        height: 60px;
        width: 450px;
    
        border-radius: 15px;
        margin-bottom: 10px;
        padding-left: 10px;

        font-size: 30px;
    }
    
    #isenha::placeholder {
        font-size: 30px;
    }
    /* #1E63E0 #4552DE
    */
    
    #entrar {
        background-color: #0056f5;
        border-color: #1E63E0;
        color: white;
    
        height: 60px;
        width: 465px;
    
        border-radius: 10px;
        margin-bottom: 10px;
    
        font-size: 30px;
    }
    
    #entrar:hover {
        background-color: #184dad;
        border-color: #184dad;
        cursor: pointer;
    }
    
    #esuqsen {
        height: 60px;
        width: 465px;
    
        border-radius: 10px;
        margin-bottom: 10px;
    
        font-size: 30px;

        background-color: white;
        color: #184dad;
        border-color: #184cad99;
    }
    
    #esuqsen:hover {
        background-color: #3ea2f9;
        border-color: #3ea2f9;
        color: white;
    }
}